.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.reposList {
  width: 90%;
  margin: auto;
  text-align: center;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #f3f3f3;
}
