.item {
  text-align: left;
  cursor: default;
  padding-left: 15px;
}

.done {
  text-decoration: line-through;
  color: #d0d0d0;
}

.container {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.deleteBtn {
  margin-left: auto;
  opacity: 0;
}

.container:hover > .deleteBtn {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
